@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    TimeSpan timeSurvinving = DateTime.Now - new DateTime(1992, 5, 24);
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stack O'Pain</h1>
    <h2>Crying in Debug Mode</h2>
</div>

